#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.data.domain.mapper.UserMainDOMapper">
  <resultMap id="BaseResultMap" type="${package}.data.domain.db.UserMainDO">
    <!--@mbg.generated-->
    <!--@Table user_main-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="modify_by" jdbcType="VARCHAR" property="modifyBy" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="deleted" jdbcType="BOOLEAN" property="deleted" />
    <result column="extend" jdbcType="VARCHAR" property="extend" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, username, `password`, nickname, create_by, modify_by, gmt_create, gmt_modify, 
    version, deleted, extend
  </sql>

<!--auto generated by MybatisCodeHelper on 2020-03-06-->
  <select id="selectAllByNicknameAndDeleted" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_main
    <where>
      <if test="nickname != null and nickname != ''">
        and nickname=${symbol_pound}{nickname,jdbcType=VARCHAR}
      </if>
      <if test="deleted != null">
        and deleted=${symbol_pound}{deleted,jdbcType=BOOLEAN}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2020-03-16-->
  <select id="findByAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_main
    <where>
      <if test="id != null">
        and id=${symbol_pound}{id,jdbcType=BIGINT}
      </if>
      <if test="userId != null">
        and user_id=${symbol_pound}{userId,jdbcType=BIGINT}
      </if>
      <if test="username != null and username != ''">
        and username=${symbol_pound}{username,jdbcType=VARCHAR}
      </if>
      <if test="password != null and password != ''">
        and `password`=${symbol_pound}{password,jdbcType=VARCHAR}
      </if>
      <if test="nickname != null and nickname != ''">
        and nickname=${symbol_pound}{nickname,jdbcType=VARCHAR}
      </if>
      <if test="createBy != null and createBy != ''">
        and create_by=${symbol_pound}{createBy,jdbcType=VARCHAR}
      </if>
      <if test="modifyBy != null and modifyBy != ''">
        and modify_by=${symbol_pound}{modifyBy,jdbcType=VARCHAR}
      </if>
      <if test="gmtCreate != null">
        and gmt_create=${symbol_pound}{gmtCreate,jdbcType=TIMESTAMP}
      </if>
      <if test="gmtModify != null">
        and gmt_modify=${symbol_pound}{gmtModify,jdbcType=TIMESTAMP}
      </if>
      <if test="version != null">
        and version=${symbol_pound}{version,jdbcType=BIGINT}
      </if>
      <if test="deleted != null">
        and deleted=${symbol_pound}{deleted,jdbcType=BOOLEAN}
      </if>
      <if test="extend != null and extend != ''">
        and extend=${symbol_pound}{extend,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

</mapper>